.digite-seu-texto,
.logo-icon {
  position: relative;
  flex-shrink: 0;
}
.logo-icon {
  width: 120px;
  height: 48px;
  overflow: hidden;
}
.digite-seu-texto {
  margin: 0;
  width: 680px;
  font-size: inherit;
  line-height: 150%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  cursor: pointer;
}
.digite-seu-texto-wrapper,
.logo-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.logo-parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-61xl);
  text-align: left;
  font-size: 32px;
  color: var(--dark-blue-dark-blue-300);
  font-family: var(--font-inter);
}
.biexclamation-circle-fill-icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.warning-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.apenas-letras-minsculas {
  position: relative;
  line-height: 150%;
}
.info-layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.button1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--white);
  text-align: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xl);
  background-color: var(--dark-blue-dark-blue-300);
  flex: 1;
  border-radius: var(--br-5xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: 213px;
  max-width: 100%;
}
.button:hover {
  background-color: var(--color-steelblue);
}
.button3 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--dark-blue-dark-blue-300);
  text-align: center;
}
.button2 {
  cursor: pointer;
  border: 1px solid var(--dark-blue-dark-blue-300);
  padding: 22px 23px;
  background-color: #d8dfe8;
  flex: 1;
  border-radius: var(--br-5xl);
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-start;
  min-width: 213px;
}
.button2:hover {
  background-color: #bfc7cf;
  border: 1px solid var(--color-steelblue);
  box-sizing: border-box;
}
.actions-layout,
.button2,
.main-layout,
.side-layout {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.actions-layout {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
}
.main-layout,
.side-layout {
  flex-direction: column;
}
.side-layout {
  width: 680px;
  align-items: flex-start;
  gap: var(--gap-base);
}
.main-layout {
  flex: 1;
  align-items: flex-end;
  gap: 635px;
  text-align: left;
  font-size: 12px;
  color: rgba(73, 80, 87, 0.8);
  font-family: var(--font-inter);
}
.message-layout-child {
  width: 400px;
  height: 944px;
  position: relative;
  box-shadow: var(--shadow);
  border-radius: var(--br-13xl);
  background-color: var(--white);
  display: none;
  max-width: 100%;
}
.high-quality-products-1-1 {
  align-self: stretch;
  height: 304px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.nenhuma-mensagem-encontrada {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.digite-um-texto {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 150%;
  color: var(--gray-gray-400);
  z-index: 1;
}
.message-layout,
.nenhuma-mensagem-encontrada-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nenhuma-mensagem-encontrada-parent {
  align-self: stretch;
  gap: var(--gap-base);
}
.message-layout {
  width: 400px;
  box-shadow: var(--shadow);
  border-radius: var(--br-13xl);
  background-color: var(--white);
  padding: 243px 32px;
  box-sizing: border-box;
  gap: 32px;
  min-width: 400px;
  max-width: 100%;
}
.page-icon,
.page-icon1 {
  width: 40px;
  height: 40px;
  position: relative;
}
.list,
.menu {
  border-radius: var(--br-781xl);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.list {
  background-color: var(--white);
  display: flex;
  padding: var(--padding-base);
  gap: var(--gap-base);
}
.menu {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);
  background-color: var(--color-gray);
  display: none;
  padding: var(--padding-5xl);
}
.page-icon-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--dark-blue-dark-blue-300);
}
.pt {
  position: absolute;
  top: 20%;
  left: 25%;
  line-height: 150%;
}
.page-icon2 {
  align-self: stretch;
  height: 40px;
  position: relative;
}
.page-icon-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: transparent;
}
.es {
  position: absolute;
  top: 20%;
  left: 25%;
  line-height: 150%;
}
.page-icon3 {
  align-self: stretch;
  height: 40px;
  position: relative;
  color: var(--dark-blue-dark-blue-300);
}
.list1 {
  align-self: stretch;
  border-radius: var(--br-781xl);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: var(--padding-base);
  gap: var(--gap-base);
}
.decodificador-1-desktop,
.list1,
.menu1 {
  align-items: flex-start;
  justify-content: flex-start;
}
.menu1 {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);
  border-radius: var(--br-781xl);
  background-color: var(--color-gray);
  display: none;
  flex-direction: column;
  padding: var(--padding-5xl);
  font-size: var(--font-size-base);
  color: var(--white);
}
.decodificador-1-desktop {
  width: 100%;
  position: relative;
  background-color: var(--light-blue-light-blue-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 40px;
  box-sizing: border-box;
  gap: var(--gap-61xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 24px;
  color: var(--gray-gray-500);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1125px) {
  .message-layout {
    flex: 1;
  }
  .decodificador-1-desktop {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .digite-seu-texto {
    font-size: 26px;
    line-height: 38px;
  }
  .logo-parent {
    gap: var(--gap-21xl);
  }
  .main-layout {
    gap: 317px;
  }
  .message-layout {
    padding-top: var(--padding-139xl);
    padding-bottom: var(--padding-139xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .actions-layout {
    flex-wrap: wrap;
  }
  .main-layout {
    min-width: 100%;
  }
  .message-layout {
    padding-top: var(--padding-84xl);
    padding-bottom: var(--padding-84xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .decodificador-1-desktop {
    gap: var(--gap-21xl);
  }
}
@media screen and (max-width: 450px) {
  .digite-seu-texto {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .logo-parent {
    gap: var(--gap-xl);
  }
  .main-layout {
    gap: 159px;
  }
  .nenhuma-mensagem-encontrada {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .message-layout {
    gap: var(--gap-base);
  }
  .decodificador-1-desktop {
    gap: var(--gap-xl);
  }
}

footer {
    margin: 40px 0;
}